h3.title a {
	font-size: 18px;
}

.attachment-post-thumbnail {
	width: 100%;
}

input[type=tel] {
    padding: 8px 9px;
}

.logo {
    width: 30%;
}

.gey-logo { 
	width: 165px;
	float: right;
}

/* STICKY MENU */
.stick-container{
    min-height: 47px;
}
.stick{
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100%;
    z-index: 999;
}

.admin-bar .stick{
    top: 28px;
}

#top-menu li:hover{
    cursor:pointer;
}
#top-menu ul li ul li ul li{
    height:auto; 
    line-height: 21px;
}
#top-menu ul li ul li ul li a{
    padding-top: 5px;
    padding-bottom: 5px;
}

.season{
    float:left;
}

.season a{
    color: white;
    padding: 10px;
    background-color: rgba(163,68,62,1);
    margin-right: 10px;
}
.season a:hover{
    background-color:black;
}

.team-list-item a{
    color: rgba(163,68,62,1);
}

.team-list-item a:hover{
    color:black;
}

/* plus/minus buttons */
.plus:focus,
.minus:focus {
    outline: none;
}

/* custom css from theme skins */
.desc a,
.twitter-carousel li > a,
.follow-us a,
.the-grid-list ul li .item-head h3.title a:hover{
    color: rgba(163,68,62,1);
}
.contact-page form p{
    font-family: Arvo, Arial, Helvetica, serif, sans-serif;
}
.twitter-carousel li > a:hover,
.follow-us a:hover{
    color: #333;
}
.twitter-carousel li{
    display:none;
}
#menu-product-categories a,
.shopping-cart a,
.woocommerce-result-count,
.onsale,
.desc{
    font-size: 13px;
}
.avatar .preloader img{
    width:100%;
    border: 1px solid lightgray;
}
.site-logo .tagline{
    font-size: 13px !important;
}
.site-logo{
    /*background-color: #F7F7F7;*/
}
select{
    -webkit-appearance: menulist-button;
    width: 360px;
    height: 35px;
    font-size: 13px;
}
.top-search-wrapper {
    background: rgb(141, 39, 42);
}
.top-search-wrapper .text-field:focus {
    outline:none;
}
article.entry-content .wp-post-image{
    width: 100%;
}

dd.variation-Size{
    width: 60%;
}
.tweets-feed a{
    color: rgba(163,68,62,1);
}
.tweets-feed .date a{
    color: #000;
}
footer #s{
    background-color:#333 !important;
    border: none;
    color: #e3e3e3;
}
footer #searchsubmit{
    display:none;
}
.the-grid-list ul li .item-head h3.title a{
    font-size: 18px;
}
.value-rating{
    width: 80px;    
}

#TB_window {
    position:absolute !important;
}
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
    border:none;
}